@page "/"

<section class="my-5">
    <!-- Education -->
    <div class="container">
        <!-- Quote -->
        <div class="row-md">
            <p class="text-center h1-responsive my-5 qut">
                “With hard work and dedication, anything is possible.”
            </p>
        </div>
        <div class="row-md">
            <h2 class="lead grey-text w-100 mains">Edu<span class="blk">cation</span></h2>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">College Of Dupage</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Glen Ellyn, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">A.A.S. IN COMPUTER INFORMATION SYSTEMS</p>
                    <ul class="entry-content extra">
                        <li class="lipad">Was always in good standing maintaining a GPA of 3.5 or above.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">August 2015-August 2018</p>
                </div>
            </div>
        </div>
    </div>
    <a name="exp"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">Lewis University</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Romeoville, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">B.S. IN COMPUTER SCIENCE</p>
                    <ul class="entry-content extra">
                        <li class="lipad">Currently pursuing my degree with one semester remaining.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">August 2018-December 2020</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Experience -->
    <div class="container pt-4">
        <div class="row-md">
            <h2 class="lead grey-text w-100 mains">Exp<span class="blk">erience</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">T-Mobile</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Schaumburg, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">Mobile Expert</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">July 2019-PRESENT</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Exploring individual needs and providing hands-on demonstrations of the latest and greatest technology in-store.</li>
                        <li class="lipad">Side-by-side selling to find personalized solutions beyond the bare-bones device and service plan that keep customers connected to the people and life style they love.</li>
                        <li class="lipad">Guide the customers through their purchasing experience by asking thoughtful questions, providing informative answers and sharing my expertise.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">AT&T</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Bloomingdale, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">Sales Associate</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">May 2018-Jan. 2019</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Identify customer needs, make suggestions, and answer questions.</li>
                        <li class="lipad">Able to understand customer needs and suggest personalized solutions.</li>
                        <li class="lipad">Show professionalism and enthusiasm by working as a team.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">Best Buy</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Bloomingdale, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">Sales Associate</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">Jan 2017-Jan. 2018</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Assisting customers with locating merchandise.</li>
                        <li class="lipad">Maintain current knowledge of technical trends for your work area.</li>
                        <li class="lipad">Answer any customer questions and use said knowledge to help assist in there purchase.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">Chicago Computers</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Naperville, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">IT Specialist</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">Feb. 2016-Dec. 2016</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Administer network and data security, including directory, grouppolicy, firewalls, antivirus, emailsecurity, ect.</li>
                        <li class="lipad">Install and configure wireless network equipment.</li>
                        <li class="lipad">Configuration, deployment, and support of systems, including client computing devices and servers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a name="ext"></a>
    <!-- Ext Activities -->
    <div class="container pt-4">
        <div class="row-md">
            <h2 class="lead grey-text w-100 mains">Ext<span class="blk">racurricular Activity</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">Envoy (invoicing System for Cryptocurrency)</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Roselle, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">Software Development</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">Aug. 2017-Aug. 2018</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Was a key member in the creation and development of a freemium invoicing system for bitcoin.</li>
                        <li class="lipad">Utilizing React.JS along with Node.JS to develop a strong front and backend web application meant to easily scale.</li>
                        <li class="lipad">Got to experience heavy unit testing, API documentation, DLC, DFDs, CI/CD.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-10">
                <div class="content with-margin">
                    <p class="text-left subhead">Thought Bank (Mobile Thought Interaction Application)</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="content with-margin">
                    <p class="text-right loca">Roselle, IL</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="content with-margin">
                    <p class="text-left subtext mb-0">Software Development</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content with-margin">
                    <p class="text-right date">Nov. 2018-PRESENT</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra">
                        <li class="lipad">Currently developing an application which you deposit a random thought, idea, joke, which then disappears from your view forever.</li>
                        <li class="lipad">Withdrawing gets you serviced a random thought that another user has deposited.</li>
                        <li class="lipad">Swiping right or left on the thought either throws it out, or gets it deposited into your thoughtwallet, leaving the creator a thought score reflecting others views on there thought.</li>
                        <li class="lipad">This mobile application uses ReactNative combined with AWS and has everyday tested the limits of my development skills requiring me to learn and develop existing ones.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a name="skill"></a>
    <!-- Skills -->
    <div class="container pt-4">
        <div class="row-md">
            <h2 class="lead grey-text w-100 mains">Ski<span class="blk">lls</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <p class="subhead pb-3">PROGRAMING LANGUAGES</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra pl-5">
                        <li class="langp1">Strongest <span class="lang">- Java, Python, Javascript, HTML, CSS</span></li>
                        <li class="langp1">Other <span class="lang">- C++, C#, LUA, Swift</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <p class="subhead pb-3">FRAMEWORKS</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content with-margin">
                <div class="col-md-12">
                    <ul class="entry-content extra pl-5">
                        <li class="langp1">Strongest <span class="lang">- React.JS, Node.JS, Spring, React Native, AWS</span></li>
                        <li class="langp1">Other <span class="lang">- .Net, Angular</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




































@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
