<footer class="page-footer bg-light fill">

    <!-- Copyright -->
    <div class="customcont">
        <p class="foot1">June 21, 2021<span class="foot">Joseph D Kuzera - Resume</span></p>
    </div>
    <!-- Copyright -->

</footer>