<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light fill">
    <span id="name" class="firstn navbar-brand" href="#">Joseph D. <span class="bold">Kuzera<span class="posi">SOFTWARE ENGINEER · SECURITY EXPERT</span></span></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul id="navvy" class="navbar-nav mr-auto">
            <li class="nav-item active test">
                <a class="nav-link" href="#education">Edu<span>cation</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#exp">Exp<span id="blk">erience</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ext">Ext<span id="blk">racurricular Activity</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skill">Ski<span id="blk">lls</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <i class="fas fa-mobile-alt"></i>
            <a class="continf">(630) 380-4970</a>
        </span>
        <span class="navbar-text">
            <i class="fas fa-envelope"></i>
            <a href="mailto:josephkuzera@gmail.com" class="continf">josephkuzera@gmail.com</a>
        </span>
        <span class="navbar-text">
            <i class="fas fa-home"></i>
            <a href="http://josephkuzera.com" target="_blank" class="continf">josephkuzera.com</a>
        </span>
        <span class="navbar-text">
            <i class="fab fa-github-square"></i>
            <a href="https://github.com/404Developer" target="_blank" class="continf">404Developer</a>
        </span>
        <span class="navbar-text">
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/404developer/" target="_blank" class="continf">404Developer</a>
        </span>
    </div>
</nav>

@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">resumewebsite_webapp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
